@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 transparent;
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #072857;
    border-radius: 20px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #374151;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* --------------- 
   TRANSITIONS NUXT 
   --------------- */

/* Le temps que dure l'animation (ex: 0.4 secondes) */
.page-enter-active,
.page-leave-active {
  transition: all 0.4s ease-in-out;
}

/* L'état "invisible" de la page au tout début et à la toute fin */
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(10px);
  /* Petit effet de flou très moderne ! */
  transform: translateY(10px);
  /* La page descend un peu en disparaissant */
}